@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --font-heading: 'Hammersmith One', sans-serif;
  --font-text: 'Reddit Sans', sans-serif;
  --color-bg: #fcf9f4;
  --color-footer: #f8f1e6;
  --color-text: #333436;
  --color-lemonYellow: #ffd131;
  --color-grassGreen: #64aa5d;
  --color-white: #fefaf4;
}
body {
  background-color: var(--color-bg);
  overflow-x: hidden;
}

.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

h4 {
  font-family: var(--font-heading);
}
.sidebar {
  height: 100%;
  overflow-x: auto;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 94px;
}
.offcanvas-header {
  font-family: var(--font-heading);
}

.offcanvas-md.show,
.offcanvas-md.showing {
  top: 94px;
}
.sidebar .nav-link {
  font-family: var(--font-text);
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-text);
}

.sidebar .nav-link.active {
  color: var(--color-text);
}

.sidebar-heading {
  font-size: 0.75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: 1rem;

  background-color: var(--color-grassGreen);
  box-shadow: inset -1px 0 0 rgba(135, 135, 135, 0.5);
}

.navbar .form-control {
  padding: 0.75rem 1rem;
}

.navbar-brand p {
  font-size: 0.98rem;
}

.navbar {
  background-color: var(--color-lemonYellow);
  width: 100%;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
}

.navbar a {
  font-family: var(--font-heading);
  font-size: 1.2rem;
  color: var(--color-text);
}

.nav-item button {
  color: var(--color-text);
}

.navbar-search .form-control {
  background-color: var(--color-lemonYellow);
}

.layout-navbar .navbar-dropdown .dropdown-menu {
  min-width: 22rem;
  overflow: hidden;
}

.dropdown-menu.show {
  width: 250px;
  color: #9b9b9c;
}

.dropdown-menu {
  box-shadow: 0 0.25rem 1rem rgba(161, 172, 184, 0.45);
}

.dropdown-menu[data-bs-popper] {
  left: -100px;
}

button {
  font-family: var(--font-text);
}

.primary-button {
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.25px;
  z-index: 0;
  padding: 12px 66.5px;
  position: relative;
  text-decoration: none;
  background-color: var(--color-lemonYellow);
  color: var(--color-text);
  font-family: var(--font-text);
  font-weight: 500;
  transition: 0.3s;
}

.primary-button:hover {
  background-color: var(--color-grassGreen);
  color: var(--color-white);
}
.nav-notification,
.profile {
  color: var(--color-text);
}

.nav-notification h5,
.nav-notification h6,
.profile h5 {
  font-family: var(--font-heading);
  color: var(--color-text);
}
.nav-notification p,
.nav-notification small,
.profile span,
.profile small {
  font-family: var(--font-text);
  font-size: 0.875em;
  color: var(--color-text);
}

.avatar {
  position: relative;
  width: 2.375rem;
  height: 2.375rem;
  cursor: pointer;
}

.avatar .avatar-initial {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
}

.avatar .avatar-secondary {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1.8rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 600;
}

.bg-label-success {
  background-color: #e8fadf;
  color: var(--color-grassGreen);
}

.bg-label-yellow {
  background-color: #fff6d3;
  color: var(--color-lemonYellow);
}

.card {
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  border: 1px solid #ededed;
}

.card p {
  font-family: var(--font-text);
  color: #9b9b9c;
}
.card span {
  font-family: var(--font-text);
  font-size: 0.9rem;
}
ß .card small {
  font-family: var(--font-text);
  font-size: 0.9rem;
}
.card strong {
  font-family: var(--font-text);
  font-size: 0.9rem;
  color: var(--color-text);
}
.card h3 {
  font-family: var(--font-heading);
  color: var(--color-text);
  font-weight: 400;
}
.card h4 {
  font-family: var(--font-heading);
  color: var(--color-text);
  font-weight: 400;
}
.card h6 {
  font-family: var(--font-heading);
  color: var(--color-text);
  font-weight: 400;
}
.card a {
  font-family: var(--font-text);
  font-size: 0.9rem;
  color: var(--color-text);
  text-decoration: none;
}
.card a:hover {
  color: var(--color-grassGreen);
}

.payment button {
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.25px;
  z-index: 0;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  background-color: var(--color-lemonYellow);
  color: var(--color-text);
  font-family: var(--font-text);
  font-weight: 500;
  transition: 0.3s;
  border: none;
}

.payment button:hover {
  background-color: var(--color-grassGreen);
  color: var(--color-white);
}

.card .up {
  font-family: var(--font-text);
  color: var(--color-grassGreen);
}

.card .down {
  font-family: var(--font-text);
  color: var(--color-lemonYellow);
}

.card[class*='card-border-shadow-'] {
  position: relative;
  border-bottom: none;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}
.card button {
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.25px;
  z-index: 0;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  background-color: var(--color-lemonYellow);
  color: var(--color-text);
  font-family: var(--font-text);
  font-weight: 500;
  transition: 0.3s;
  border: none;
}
.card button:hover {
  background-color: var(--color-grassGreen);
  color: var(--color-white);
}

.select-style-1 .select-position {
  position: relative;
}

.select-style-1 .select-position select.light-bg {
  background: rgba(239, 239, 239, 0.5);
}

.select-style-1 .select-position.select-sm select {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 30px;
  font-size: 0.9rem;
  font-family: var(--font-text);
}
.select-style-1 .select-position select {
  width: 100%;
  background: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  padding: 16px;
  padding-right: 38px;
  color: #5d657b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.select-style-1 .select-position::after {
  border-bottom: 1px solid #5d657b;
  border-right: 1px solid #5d657b;
  content: '';
  display: block;
  height: 7px;
  width: 7px;
  margin-top: -5px;
  pointer-events: none;
  position: absolute;
  right: 16px;
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.table p {
  font-family: var(--font-text);
  color: var(--color-text);
  font-size: 0.9rem;
}
.table a {
  font-family: var(--font-text);
  color: var(--color-text);
  font-size: 0.9rem;
  text-decoration: none;
}
.table a:hover {
  font-family: var(--font-text);
  color: var(--color-grassGreen);
  text-decoration: none;
}

.status-btn.pending-btn {
  color: #d50100;
  background: rgba(213, 1, 0, 0.1);
}

.status-btn.completed-btn {
  color: var(--color-grassGreen);
  background: rgba(92, 213, 0, 0.1);
}

.status-btn.refund-btn {
  color: var(--color-lemonYellow);
  background: rgba(255, 221, 4, 0.1);
}

.status-btn.canceled-btn {
  color: #767676;
  background: rgba(131, 131, 131, 0.1);
}

.status-btn {
  padding: 7px 15px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 400;
}

.action a:hover {
  color: var(--color-grassGreen);
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  border: none;
}

.progress,
.progress-stacked {
  --bs-progress-bar-bg: var(--color-lemonYellow);
  --bs-progress-height: 1.5rem;
  --bs-progress-font-size: 0.8rem;
  --bs-progress-bar-color: var(--color-text);
  font-family: var(--font-text);
}

.card-profile {
  width: 50%;
}

.profile-image {
  width: 100%;
}
.profile-images {
  width: 80%;
}
.button-no-style {
  border: none;
  background: none;
}

form label {
  margin-bottom: 0.8rem;
}

.user-profile-header-banner img {
  width: 100%;
  object-fit: cover;
  height: 300px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.user-profile-header {
  margin-top: -2rem;
}

.user-profile-header .user-profile-img {
  border: 5px solid;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.user-profile-img img {
  border-color: #fff;
}

.profile-card {
  background-clip: padding-box;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  word-wrap: break-word;
  background-color: #fff;

  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.12);
  border: 1px solid #ededed;
}

.update-profile button {
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.25px;
  z-index: 0;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  background-color: var(--color-lemonYellow);
  color: var(--color-text);
  font-family: var(--font-text);
  font-weight: 500;
  transition: 0.3s;
  border: none;
}

.update-profile button:hover {
  background-color: var(--color-grassGreen);
  color: var(--color-white);
}
.profile-card h4 {
  font-family: var(--font-heading);
}

.profile-card span {
  font-family: var(--font-text);
}
button,
input,
optgroup,
select,
textarea {
  height: 40px;
}

.table th {
  font-family: var(--font-heading);
}

.table td {
  font-family: var(--font-text);
}
.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: var(--color-lemonYellow);
}
.featurette-heading-h1 {
  font-family: var(--font-text);
  color: var(--color-grassGreen);
  font-weight: 500;
  font-size: 2rem;
}
.featurette-heading-h1 span {
  font-size: 1rem;
  color: #afafaf;
  font-weight: 400;
}
.featurette-heading {
  font-family: var(--font-heading);
  font-size: 2.8rem;
}
.lead {
  font-family: var(--font-text);
  color: var(--color-text);
  font-size: 1.1rem;
  font-weight: 400;
}
.accordion-body {
  font-family: var(--font-text);
  font-size: 1rem;
  color: var(--color-text);
}

.accordion-button:not(.collapsed) {
  font-family: var(--font-text);
  color: var(--color-text);
  background-color: #fff;
  border-bottom: none;
}

.accordion-item {
  border: none;
}

.accordion-button:not(.collapsed) {
  color: var(--color-text);
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../img/arrow-down.svg);
}
.primary-button {
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.25px;
  z-index: 0;
  padding: 12px 66.5px;
  position: relative;
  text-decoration: none;
  background-color: var(--color-lemonYellow);
  color: var(--color-text);
  font-family: var(--font-text);
  font-weight: 500;
  transition: 0.3s;
}

.primary-button:hover {
  background-color: var(--color-grassGreen);
  color: var(--color-white);
}