{% extends "layouts/admin.html" %} {% block title %} {% endblock %} {% block stylesheets %} {{ super() }}
<link
  href="{{ url_for('static', filename='assets/css/Dashboard.css') }}"
  rel="stylesheet"
/>
{% endblock %} {% block content %} 
    <div class="container-xxl flex-grow-1 container-p-y">
        <!--shane temp starts-->
        
          <h4 class="mb-4">
            <span class="text-muted fw-light"><a href="{{ url_for('admin_profile') }}" class="text-muted fw-light" style="text-decoration: none;">My Account</a> / </span>
            Update Password</a> 
          </h4>

          <div class="card mb-4 p-5">
            <form
            action="/admin/password-update"
            method="POST"
            class="form needs-validation"
            enctype="multipart/form-data"
            novalidate
            >
              <!--list profile-->
              <div class="row mb-3">
                
                <div class="col-md-6">
                  <label class="fw-bold"><h6>Old Password:</h6></label>
                  <input
                    type="password"
                    class="form-control"
                    id="oldPassword"
                    name="oldPassword"
                    placeholder="············"
                    size="50"
                    style="font-family: var(--color-text);"
                    required
                  />
                  <div class="invalid-feedback">
                    Please enter the old password
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                
                <div class="col-md-6">
                  <label class="fw-bold"><h6>New Password:</h6></label>
                  <input
                    type="password"
                    class="form-control"
                    id="newPassword"
                    name="newPassword"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    placeholder="············"
                    title="Must contain at least one number and one uppercase letter, and at least 8 or more characters"
                    size="50"
                    style="font-family: var(--color-text);"
                    required
                  />
                  
                  <div class="invalid-feedback">
                    Must contain at least one number and one uppercase letter, and at least 8 or more characters
                  </div>
                </div>
              </div>
                

              <div class="row mb-3">
                
                <div class="col-md-6">
                    <label class="fw-bold"><h6>Confirm Password:</h6></label>
                    <input
                      type="password"
                      class="form-control"
                      id="confirmPassword"
                      name="confirmPassword"
                      size="50"
                      placeholder="············"
                      style="font-family: var(--color-text);"
                      required
                    />
                    <div class="invalid-feedback">
                      Please confirm the new password
                    </div>
                  </div>
                </div>

                {% if msg %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ msg }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="background-color: transparent;"></button>
                    </div>
                {% endif %}
            

                <div class="mt-2">
                  <button
                    type="submit"
                    id="settings-button"
                  >
                    Submit
                  </button>

                </div>
              </div>
            </form>
          </div>
       
      
    </div>

    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      ;(() => {
        'use strict'
      
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')
      
        // Loop over them and prevent submission
        Array.from(forms).forEach((form) => {
          form.addEventListener(
            'submit',
            (event) => {
              if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
              }
      
              form.classList.add('was-validated')
            },
            false
          )
        })
      })()
      </script>

   
  {% endblock content %}


