{% extends "layouts/manager.html" %}
{% block title %} Manager Incoming Order List {% endblock %}
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="mb-4">
        <span class="text-muted fw-light">Manage Orders /</span> Order List
    </h4>
    <div class="card mb-4 p-3">
        {% if msg %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ msg }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="background-color: transparent;"></button>
        </div>
        {% endif %}
        <div class="d-flex justify-content-between mb-4 mt-3">
            <form method="GET" action="{{ url_for('manager_order_incoming') }}">
                <div class="d-flex gap-3">
                    <input
                      type="date"
                      class="form-control"
                      id="order_date"
                      name="order_date"
                      value="{{ order_date }}"
                    />
                    <button type="submit" class="btn btn-primary">Search Date</button>
                </div>
            </form>
            <form method="GET" class="d-flex gap-3" action="{{ url_for('manager_order_incoming') }}">
                <label>
                    <input type="search" name="searchinput" class="form-control" placeholder="Search" aria-controls="DataTables_Table_0" style="height: 38px;" value="{{ searchinput }}"/>
                </label>
                <button type="submit" class="btn btn-primary"><i class="bi bi-search me-2"></i>Search Name</button>
            </form>
            <form method="GET" class="d-flex gap-3" action="{{ url_for('manager_order_incoming') }}">
                <div class="d-flex gap-3 filter">
                    <select name="order_status" id="order_status" class="form-select text-capitalize" style="height: 38px;" onchange="this.form.submit()">
                        <option value="" {% if selected_order_status == 'all' %}selected{% endif %}>All order statuses</option>
                        {% for status in order_status %}
                            <option value="{{ status[0] }}" {% if selected_order_status == status[0] %}selected{% endif %}>{{ status[0] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
            <div class="d-flex">
                <a href="{{ url_for('manager_order_incoming') }}">
                    <button class="btn">Show All</button>
                </a>
            </div>
        </div>
        <div class="">
            <table class="table table-striped table-borderless table-hover p-4">
                <tr class="table-success">
                    <th class="p-4"><a href="{{ url_for('manager_order_incoming', sort_by='order_date', reverse=(sort_by=='order_date' and not reverse)) }}">Order Date</a></th>
                    <th class="p-4"><a href="{{ url_for('manager_order_incoming', sort_by='order_id', reverse=(sort_by=='order_id' and not reverse)) }}">Order Number</a></th>
                    <th class="p-4"><a href="{{ url_for('manager_order_incoming', sort_by='full_name', reverse=(sort_by=='full_name' and not reverse)) }}">Customer Name</a></th>
                    <th class="p-4"><a href="{{ url_for('manager_order_incoming', sort_by='delivery_status', reverse=(sort_by=='delivery_status' and not reverse)) }}">Order Status</a></th>
                    <th class="p-4"><a href="#">Action</a></th>
                </tr>
                {% if orders %}
                    {% for order in orders %}
                        <tr class="table-warning clickable-row" data-href="{{ url_for('manager_order_incoming_detail', order_id=order[0]) }}">
                            <td class="p-4">{{ order[6].strftime('%d-%m-%Y') }}</td>
                            <td class="p-4">{{ order[0] }}</td>
                            <td class="p-4">{{ order[1] }}</td>
                            <td class="p-4">{{ order[5] }}</td>
                            <td class="p-4">
                                <a href="{{ url_for('manager_order_incoming_detail', order_id=order[0]) }}" style="margin-right: 10px;">
                                    <i class="bi bi-search"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr class="table-warning">
                        <td colspan="8" class="p-4">
                            <div class="p-3">
                                <strong>No orders found matching the search criteria.</strong><br /><br />
                                Please try refining your search terms or
                                <a href="{{ url_for('manager_order_incoming') }}" class="alert-link">view all orders</a>
                            </div>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}
