{% extends "layouts/manager.html" %} {% block title %} {% endblock %} {% block stylesheets %} {{ super() }}
<link
  href="{{ url_for('static', filename='assets/css/Dashboard.css') }}"
  rel="stylesheet"
/>
{% endblock %} {% block content %} 
    <div class="container-xxl flex-grow-1 container-p-y">
       
        
          <h4 class="mb-4">
            <span class="text-muted fw-light">Manage Products / <a href="{{ url_for('manager_product_list') }}" class="text-muted fw-light" style="text-decoration: none;">Produce List</a> /</span> 

            Add Produce
          </h4>

          <div class="card mb-4 p-5">
            <form
              action="/manager/product-list/add-product"
              method="POST"
              class="form needs-validation"
              enctype="multipart/form-data"
              novalidate
            >
              <!--list profile-->
              <div class="row">
                <div class="mb-3 col-md-6">
                  <label class="fw-bold"><h6>Produce ID:</h6></label>
                  <input
                    class="form-control"
                    id="new_product_id"
                    name="new_product_id"
                    value="{{new_product_id}}"
                    style="font-family: var(--color-text); background-color: #f5f5f5;"
                    readonly
                  />
                </div>

                <div class="mb-3 col-md-6">
                    <label class="fw-bold"><h6>Produce Category:</h6></label>
                    <div><select class="selectpart1 form-control" id="product_category_id" name="product_category_id" style="width: 100%; height: 38px; border: 1px solid #ced4da; border-radius: 5px;"  required>
                        {% for categories in product_categories %}
                            <option value="{{categories[0]}}">{{categories[1]}}</option>
                        {% endfor %}
                    </select></div>
                </div>

                <div class="mb-3 col-md-6">
                  <label class="fw-bold"><h6>Produce Name:</h6></label>
                  <input
                    class="form-control"
                    id="product_name"
                    name="product_name"
                    placeholder="Product Name"
                    size="10"
                    style="font-family: var(--color-text);"
                    title="The product name must be less than 50 characters long"
                    required
                    maxlength="50"
                  />
                  <div class="invalid-feedback">
                    Please enter a produce name (up to 50 characters)
                  </div>
                </div>

                <div class="mb-3 col-md-6">
                  <label class="fw-bold"><h6>SKU:</h6></label>
                  <input
                    class="form-control"
                    type="text"
                    name="sku"
                    id="sku"
                    placeholder="SKU"
                    style="font-family: var(--color-text);"
                    pattern="^[A-Za-z0-9]+$"
                    title="Please enter a valid SKU (letters and numbers only without space)"
                    required
                  />
                  
                  <div class="invalid-feedback">
                    Please enter a valid SKU (letters and numbers only without space)
                  </div>
                </div>

                <div class="mb-3 col-md-6">
                  <label class="fw-bold"><h6>Produce unit:</h6></label>
                  <select class="form-control"
                  name="unit"
                  id="unit"
                  style="font-family: var(--color-text);"
                  required>
                    {% for unit in list_unit %}
                      <option value="{{unit[0]}}">{{unit[1]}}</option>
                    {% endfor %}
                  </select>
                </div>

                  <div class="mb-3 col-md-6">
                    <label class="fw-bold"><h6>Produce Description:</h6></label>
                    <input
                      type="text"
                      class="form-control"
                      id="product_des"
                      name="product_des"
                      placeholder="Product Description"
                      size="10"
                      style="font-family: var(--color-text);"
                      title="The product description must be less than 300 characters long"
                      required
                      maxlength="300"
                    />
                    <div class="invalid-feedback">
                      Please enter a produce description (up to 300 characters)
                    </div>
                  </div>
 
                  <div class="mb-3 col-md-6">
                    <label class="fw-bold"><h6>Produce Price (NZ$): </h6></label>
                    <input
                      type="number"
                      step="0.01"
                      class="form-control"
                      id="product_price"
                      name="product_price"
                      placeholder="0.00"
                      size="10"
                      style="font-family: var(--color-text);"
                      title="Please enter a produce price (minimum value is 1)"
                      required
                      min="1"
                    />
                    <div class="invalid-feedback">
                      Please enter a produce price (minimum value is 1)
                    </div>
                  </div>

                  <div class="mb-3 col-md-6">
                    <label class="fw-bold"><h6>Stock Quantity: </h6></label>
                    <input
                      type="number"
                      step="1"
                      class="form-control"
                      id="stock_quantity"
                      name="stock_quantity"
                      placeholder="0.00"
                      size="10"
                      style="font-family: var(--color-text);"
                      title="Please enter a stock quantity (minimum value is 1)"
                      required
                      min="1"
                    />
                    <div class="invalid-feedback">
                      Please enter a stock quantity (minimum value is 1)
                    </div>
                  </div>

                  <div class="mb-3 col-md-6">
                    <label class="fw-bold"><h6>Produce Promotion Type:</h6></label>
                    <div><select class="selectpart1 form-control" id="promotion_type_id" name="promotion_type_id" style="width: 100%; height: 38px; border: 1px solid #ced4da; border-radius: 5px;"  required>
                        {% for promotion in promotion_type %}
                            <option value="{{promotion[0]}}">{{promotion[1]}}</option>
                        {% endfor %}
                    </select></div>
                  </div>

                  <div class="mb-3 col-md-6">
                    <label class="fw-bold"><h6>Produce Origins:</h6></label>
                    <div><select class="selectpart1 form-control" id="product_origins" name="product_origins" style="width: 100%; height: 38px; border: 1px solid #ced4da; border-radius: 5px;"  required>
                            <option value="Product of New Zealand">Product of New Zealand</option>
                            <option value="Product of Overseas">Product of Overseas</option>
                    </select></div> 
                  </div>

                  <input type="hidden" id="depot_id" name="depot_id" value="{{depot_id}}">

                <div class="mt-5 col-md-6">
                  <label class="fw-bold"><h6>Upload Image:</h6></label>
                  <input
                    type="file"
                    id="image1"
                    name="image1"
                    accept="image/*"
                    style="font-family: var(--color-text);"
                    multiple
                  />
                </div>
  
                {% if msg %}
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      {{ msg }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="background-color: transparent;"></button>
                  </div>
                {% endif %}
                <div class="mt-2">
                  <button
                    type="submit"
                    id="settings-button"
                  >
                    Submit
                  </button>

                </div>
              </div>
            </form>
          </div>
       
      
    </div>
    
    <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
    if (!form.checkValidity()) {
    event.preventDefault()
    event.stopPropagation()
    }

    form.classList.add('was-validated')
    }, false)
    })
    })()
    </script>


   
  {% endblock content %}


