{% extends "layouts/manager.html" %}
{% block title %} Pending Credit Limit Requests {% endblock %}
{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="mb-4">Account Application and Credit Increase Requests</h4>
    <div class="card mb-4 p-3">
        <div class="d-flex justify-content-between mb-4 mt-3">
            <div class="">
                <form method="GET" action="{{ url_for('manager_credit_limit_pending_requests') }}" class="d-flex gap-3">
                    <div class="d-flex gap-3"><div class="filter">
                    <select name="status_filter" id="status_filter" class="form-select text-capitalize" onchange="this.form.submit()">
                        <option value="">All Request Status</option>
                        <option value="pending" {% if request.args.get('status_filter') == 'pending' %}selected{% endif %}>Pending</option>
                        <option value="declined" {% if request.args.get('status_filter') == 'declined' %}selected{% endif %}>Declined</option>
                        <option value="approved" {% if request.args.get('status_filter') == 'approved' %}selected{% endif %}>Approved</option>
                    </select>
                </div>
                </form>
            </div>
        </div>
    </div>
    {% if msg %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="background-color: transparent;"></button>
    </div>
    {% endif %}

        <div class="">
            <table class="table table-striped table-borderless table-hover p-4">
                <thead class="table-success">
                    <tr>
                        <th class="p-4">Request ID</th>
                        <th class="p-4">Account Holder</th>
                        <th class="p-4">Current Credit Limit</th>
                        <th class="p-4">Requested Credit Limit</th>
                        <th class="p-4">Submission Date</th>
                        <th class="p-4">Status</th>
                        <th class="p-4">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if pending_requests %}
                        {% for request in pending_requests %}
                        <tr class="table-warning">
                            <td class="p-4">{{ request[0] }}</td>
                            <td class="p-4">{{ request[9] }}</td>
                            <td class="p-4">{{ request[10] }}</td>
                            <td class="p-4">{{ request[1] }}</td>
                            <td class="p-4">{{ request[7].strftime('%d-%m-%Y') }}</td>
                            <td class="p-4">{{ request[3] }}</td>
                            <td class="p-4">
                                <a href="{{ url_for('manager_credit_limit_request_detail', application_id=request[0]) }}"><i class="bi bi-search"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        {% if request.args.get('status_filter') %}
                        <tr class="table-warning">
                            <td colspan="8" class="p-4">
                                <div class="p-3">
                                    <strong>No request found matching the filtered status.</strong><br /><br />
                                    Please check another status or
                                    <a href="{{ url_for('manager_credit_limit_pending_requests') }}" class="alert-link">view all requests</a>
                                </div>
                            </td>
                        </tr>
                        {% else %}
                        <tr class="table-warning">
                            <td colspan="8" class="p-4">
                                <div class="p-3">
                                    <strong>There are no pending credit limit requests awaiting approval.</strong><br /><br />
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
