{% extends "layouts/manager.html" %}
{% block title %} Manager Product List {% endblock %}
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}
<!-- Preloader -->
<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="mb-4">
    <span class="text-muted fw-light">Manage Products /  </span>
    Discontinued Products List
  </h4>
  <div class="card mb-4 p-3">
    {% if msg %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ msg }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="background-color: transparent;"></button>
    </div>
    {% endif %}

    <div class="d-flex justify-content-between mb-4 mt-3">
      <div class="">
        <form
          method="POST"
          class="d-flex gap-3"
          action="/manager/discontinued-products"
        >
          <label>
            <input
              type="search"
              name="searchinput"
              class="form-control"
              placeholder="Search"
              aria-controls="DataTables_Table_0"
            />
          </label>
          <button type="submit"><i class="bi bi-search me-2"></i>Search</button>
        </form>
      </div>
      <!-- Added category filter dropdown -->
      <form
      method="POST"
      class="d-flex gap-3"
      action="/manager/discontinued-products"
        >
      <div class="d-flex gap-3 filter">
        <select name="category" id="category" class="form-select text-capitalize" onchange="this.form.submit()" >
            <option value="" {% if selected_category == 'all' %}selected{% endif %}>All Categories</option>
            {% for category in categories %}
                <option value="{{ category }}" {% if selected_category == category %}selected{% endif %}>{{ category }}</option>
            {% endfor %}
        </select>
      </div>
      </form>
      <div class="d-flex">
        <a href="{{ url_for('manager_discontinued_products') }}">
          <button class="btn">Show All</button>
        </a>
        
      </div>
    </div>
    
    <div class="">
      <table class="table table-striped table-borderless table-hover p-4">
        <tr class="table-success">
          <th class="p-4"><a href="{{ url_for('manager_discontinued_products', sort_by='SKU', reverse=(request.args.get('sort_by')=='SKU' and request.args.get('reverse') != 'True')) }}">SKU</a></th>
          <th class="p-4"><a href="{{ url_for('manager_discontinued_products', sort_by='Category', reverse=(request.args.get('sort_by')=='Category' and request.args.get('reverse') != 'True')) }}">Category</a></th>
          <th class="p-4"><a href="{{ url_for('manager_discontinued_products', sort_by='Product Name', reverse=(request.args.get('sort_by')=='Product Name' and request.args.get('reverse') != 'True')) }}">Produce Name</a></th>
          <th class="p-4"><a href="{{ url_for('manager_discontinued_products', sort_by='Price', reverse=(request.args.get('sort_by')=='Price' and request.args.get('reverse') != 'True')) }}">Price (NZD)</a></th>
          <th class="p-4"><a href="{{ url_for('manager_discontinued_products', sort_by='Unit', reverse=(request.args.get('sort_by')=='Unit' and request.args.get('reverse') != 'True')) }}">Unit</a></th>
          <th class="p-4"><a href="{{ url_for('manager_discontinued_products', sort_by='Stock Quantity', reverse=(request.args.get('sort_by')=='Stock Quantity' and request.args.get('reverse') != 'True')) }}">Stock Quantity</a></th>
          <th class="p-4"><a href="#">Action</a></th>
        </tr>

        {% if products %} {% for product in products %}
        <tr class="table-warning"  {% if product[11] == 7 %} data-href="{{ url_for('manager_premade_box_details', product_id=product[7]) }}" {% else %}data-href="{{ url_for('manager_product_details', product_id=product[7]) }}" {% endif %}>
          <td class="p-4">{{ product[0] }}</td>
          <td class="p-4">{{ product[1] }}</td>
          {% if product[11] == 7 %}
          <td class="p-4">{{ product[8] }}</td>
          {% elif product[11] == 8 %}
          <td class="p-4">{{ product[10] }}</td>
          {% else %}
          <td class="p-4">{{ product[2] }}</td>
          {% endif %}
          <td class="p-4">${{ product[3] }}</td>
          {% if product[11] == 7 %}
          <td class="p-4">{{ product[9] }}</td>
          {% elif product[11] == 8 %}
          <td class="p-4">None</td>
          {% else %}
          <td class="p-4">{{ product[4] }}</td>
          {% endif %}
          <td class="p-4">{{ product[5] | int  }}</td>
          <td class="p-4 text-center">

            {% if product[11] == 7 %}
            <a href="{{ url_for('manager_premade_box_details', product_id=product[7]) }}" style="margin-right: 10px;">
                <i class="bi bi-search"></i>
            </a>
            {% else %}
            <a href="{{ url_for('manager_product_details', product_id=product[7]) }}" style="margin-right: 10px;">
              <i class="bi bi-search"></i>
          </a>
          {% endif %}
            {% if product[11] == 7 %}
            <button type="button" 
                data-bs-toggle="modal" 
                data-bs-target="#restoreBox{{ product[0] }}" 
                style="border: none; background: none; padding: 0;">
                <i class="bi bi-recycle"></i>
            </button>
        
            <!-- The Box Modal -->
            <div class="modal fade" id="restoreBox{{ product[0] }}">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <!-- Modal Header -->
                      <div class="modal-header">
                          <h4 class="modal-title">Restoration</h4>
                          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                      </div>
                      <form method="POST" action="{{ url_for('manager_restore_premade_box') }}?product_id={{ product[7] }}" id="restoreForm{{ product[0] }}">
                      <!-- Modal body -->
                      <div class="modal-body text-start">
                          <h5>Are you sure you want to restore this premadebox?</h5>

                          
                            <div class="mt-3">
                                <label class="fw-bold"><h6>Choose Start Time:</h6></label>
                                <input
                                    type="datetime-local"
                                    class="form-control"
                                    id="start_time"
                                    name="start_time"
                                    required
                                />
                                <div class="invalid-feedback">Please enter the start time.</div>
                            </div>
                    
                            <div class="">
                                <label class="fw-bold"><h6>Choose End Time:</h6></label>
                                <input
                                    type="datetime-local"
                                    class="form-control"
                                    id="end_time"
                                    name="end_time"
                                    required
                                />
                                <div class="invalid-feedback">Please enter the end time.</div>
                            </div>
                        
                  
                      </div>
                      
                      <!-- Modal footer -->
                      <div class="modal-footer">
                          <button 
                               
                              class="btn btn-success glow" type="submit">
                              Schedule This Premade Box
                          </button>
                          <button 
                              type="button" 
                              class="btn btn-secondary" 
                              data-bs-dismiss="modal">
                              Cancel
                          </button>
                      </div>
                    </form>
                  </div>
              </div>
          </div>
          {% else %}
          <button type="button" 
              data-bs-toggle="modal" 
              data-bs-target="#restore{{ product[0] }}" 
              style="border: none; background: none; padding: 0;">
              <i class="bi bi-recycle"></i>
          </button>
      
          <!-- The Modal -->
          <div class="modal fade" id="restore{{ product[0] }}">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <!-- Modal Header -->
                      <div class="modal-header">
                          <h4 class="modal-title">Restoration</h4>
                          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                      </div>
      
                      <!-- Modal body -->
                      <div class="modal-body">
                          Are you sure you want to restore the product?
                      </div>
      
                      <!-- Modal footer -->
                      <div class="modal-footer">
                          <a 
                              href="{{ url_for('manager_restore_product', product_id=product[7]) }}" 
                              class="btn btn-success glow">
                              Yes
                          </a>
                          <button 
                              type="button" 
                              class="btn btn-secondary" 
                              data-bs-dismiss="modal">
                              Close
                          </button>
                      </div>
                  </div>
              </div>
          </div>
          {% endif %}
      </td>
      
      </tr>
      {% endfor %} {% else %}
      <tr class="table-warning">
        <td colspan="8" class="p-4">
          <div class="p-3">
            <strong>No produce found matching the search criteria.</strong><br /><br />
            Please try refining your search terms or
            <a href="{{ url_for('manager_discontinued_products') }}" class="alert-link">view all produces</a>
          </div>
        </td>
      </tr>
      {% endif %}
    </table>
  </div>
</div>
</div>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
  document.querySelectorAll('.clickable-row').forEach(row => {
    row.addEventListener('click', function(e) {
      // Avoid navigation if clicking on specific elements
      if (!e.target.closest('a') && !e.target.closest('button')) {
        window.location = this.dataset.href;
      }
    });
  });
});
</script>

{% endblock %}
